#!/bin/bash

{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
echo "For now, install the following manually"
echo "hx, yazi, zellij, zoxide, marksman, uv "

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install uv helix yazi zellij zoxide marksman
{{ end -}}


ERROR=""

for cmd in hx ya zellij zoxide
do
	if ! command -v $cmd 2>&1 >/dev/null
	then
	  echo "$cmd could not be found"
		ERROR="E"
	fi
done

if [ "$ERROR" == "E" ]; 
then 
	echo "something was wrong"	
	exit 1
else
	echo "necessary programs are available"
fi

ya pack -i

uv tool install pyright
uv tool install ruff
